@use "sass:map";

@keyframes widgetPulse {
  0% {
    transform: scale(1,1);
    opacity: 0.5;
  }
  100% {
    transform: scale(2,2);
    opacity: 0;
  }
}

.shop-app {
  background: #fff;
  padding: 45px 16px;
  min-height: 100%;
  box-sizing: border-box;

  &__container {
    max-width: 1024px;
    margin: 0 auto;
  }

  &__skeleton {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 1;
    padding: 45px 16px;

    &.active {
      display: block;
    }
  }

  &__fixed-basket-btn {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 36px;
    margin-bottom: 36px;
    background: #fff;
    box-shadow: 0 0 14px rgba(112, 106, 106, 0.25);
    border-radius: 50%;
    cursor: pointer;
    z-index: 2;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;

    &.active {
      .basket-animate {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border: 1px solid #61656752;
        border-radius: 50%;
        -webkit-animation: widgetPulse infinite 1.5s;
        animation: widgetPulse infinite 1.5s;
      }
    }

    svg {
      width: 30px;
      height: 30px;
    }

    &__mark {
      position: absolute;
      top: -15px;
      right: 5px;
      width: 32px;
      height: 32px;
      line-height: 32px;
      text-align: center;
      border-radius: 50%;
      background: #5d59f0;
      color: #fff;
      font-weight: 600;
      font-size: 18px;
    }
  }

  &__confirm {
    &__title {
      display: block;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      color: #6662F4;
      margin: 0 0 5px;

      & + span {
        display: block;
        font-size: 14px;
        line-height: 20px;
      }
    }

    .ant-modal-content {
      border-radius: 16px;
    }

    .ant-modal-confirm-btns {
      text-align: center;

      .ant-btn-default, .ant-btn-primary {
        background: rgba(102, 98, 244, 0.08);
        border-radius: 16px;
        min-width: 95px;
        height: 40px;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        border: none;
        outline: none;
        color: #000;

        &.ant-btn-dangerous {
          background: #6662F4;
          color: #fff;
          margin-left: 20px;
        }
      }

      .ant-btn-primary {
        background: #6662F4;
        color: #fff;
      }
    }

    &.basket-null {
      .ant-modal-confirm-btns {
        .ant-btn:first-child {
          display: none;
        }
      }
    }
  }

  &__modal {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;

    &.active {
      visibility: visible;

      .shop-app__modal__outline {
        opacity: 1;
      }

      .shop-app__modal__body {
        transform: translateY(-100%);
      }
    }

    &__outline {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: rgba(48, 48, 48, 0.53);
      transition: all 0.3s ease;
    }

    &__body {
      z-index: 1;
      box-sizing: border-box;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      min-height: 440px;
      background: #fff;
      border-radius: 25px 25px 0 0;
      padding: 37px 16px 20px;
      transition: all 0.2s ease;

      &:after {
        content: "";
        position: absolute;
        top: 12px;
        left: 50%;
        width: 100px;
        height: 2px;
        background: #D9D9D9;
        border-radius: 20px;
        transform: translateX(-50%);
      }
    }
  }

  &__categories {
    margin: 0 -16px 8px;
    box-sizing: border-box;
    overflow: hidden;
    padding: 0 16px;

    &__skeleton {
      display: flex;
      gap: 10px;
      margin-bottom: 16px;

      .ant-skeleton.ant-skeleton-element .ant-skeleton-button {
        height: 91px;
      }

      @media (max-width: 480px) {
        .ant-skeleton:last-child {
          display: none;
        }
      }
    }

    .slick-slider {
      font-size: 0;
      margin-bottom: 16px;
    }

    .slick-list {
      overflow: visible;
    }

    .slick-prev {
      left: -9px;

      &:before {
        transform: rotate(180deg);
      }
    }

    .slick-next {
      right: -9px;
    }

    .slick-prev, .slick-next {
      z-index: 1;
      width: 36px;
      height: 36px;
      border: 1px solid #fff;
      background: rgba(255, 255, 255, 0.44);
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      border-radius: 50%;
      transition: all 0.2s;
      opacity: 1;

      &:before {
        content: "";
        display: block;
        width: 11px;
        height: 20px;
        margin: 0 auto;
        background: url("../../assets/images/slider-arr.svg") no-repeat 0 0;
      }

      &.slick-disabled {
        opacity: 0;
      }
    }

    &__item-wr {
      padding: 0 3px;
    }

    &__item {
      position: relative;
      z-index: 1;
      border-radius: 16px;
      width: 100%;
      height: 91px;
      overflow: hidden;

      &.active {
        &:after {
          background: linear-gradient(180deg, rgba(102, 98, 244, 0.648) 0%, rgba(26, 25, 34, 0.8) 100%);
        }
      }

      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 30.97%, rgba(0, 0, 0, 0.6) 86.05%);
      }

      img {
        object-fit: cover;
        width: 100%;
        height: 91px;
      }

      &__text {
        z-index: 1;
        position: absolute;
        bottom: 14px;
        left: 10px;
        right: 10px;
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        color: #fff;
      }
    }
  }

  &__main-buttons {
    display: flex;
    justify-content: space-between;

    .ant-skeleton {
      width: 49%;

      &.ant-skeleton-element .ant-skeleton-button {
        height: 65px;
      }
    }

    & > div {
      width: 49%;
    }

    &__item {
      position: relative;
      box-sizing: border-box;
      padding: 6px 52px 6px 10px;
      min-height: 65px;
      gap: 10px;
      cursor: pointer;
      border-radius: 16px;
      background: linear-gradient(90deg, #6662F4 0%, #2B32B2 100%), #FFF2F2;;
      color: #fff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      overflow: hidden;

      &__name {
        &-s1 {
          font-size: 20px;
          font-weight: 700;
          line-height: 23px;
          margin-bottom: 3px;
        }

        &-s2 {
          font-size: 14px;
          line-height: 16px;
        }
      }

      &__icon {
        color: #fff;

        svg {
          fill: #fff;
          width: 50px;
          height: 50px;
        }
      }

      &__arr {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 32px;
        height: 32px;
        background: #5d59f0;
        border-radius: 16px 0 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      @media (max-width: 480px) {
        padding-right: 38px;

        &__icon {
          svg {
            width: 40px;
            height: 40px;
          }
        }
      }
    }
  }

  &__products {
    &__list {
      display: flex;
      flex-direction: column;
      gap: 10px;
      min-height: 222px;

      &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        color: #000;

        &.sale-item {
          .shop-app__products__list__item__body {
            color: #fff;

            &:after {
              content: "";
              position: absolute;
              top: 6px;
              left: 0;
              right: 0;
              bottom: 0;
              background: #218938;
              z-index: -1;
              border-radius: 0 16px 16px 16px;
            }
          }
        }

        &__body {
          position: relative;
          z-index: 1;
          flex-grow: 1;
          display: flex;
          gap: 30px;
          width: 88%;
        }

        &__photo {
          min-width: 106px;
          filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.25));
          border-radius: 6px;
          font-size: 0;

          img {
            object-fit: cover;
            width: 106px;
            height: 106px;
            border-radius: 6px;
          }
        }

        &__mid {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 5px 12px 5px 0;
          overflow: hidden;
        }

        &__name {
          font-weight: 700;
          font-size: 16px;
          line-height: 19px;
          padding: 0 0 6px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }

        &__text {
          font-size: 11px;
          line-height: 12px;
          margin-bottom: 8px;
          overflow: hidden;
          height: 38px;
        }

        &__price {
          font-size: 14px;
        }

        &__button {
          cursor: pointer;
          min-width: 33px;
          width: 33px;
          height: 33px;
          background: #D9D9D9;
          border-radius: 8px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #000;
        }
      }
    }

    &__skeleton {
      .ant-skeleton.ant-skeleton-element .ant-skeleton-button {
        height: 106px;
        margin-bottom: 10px;
      }
    }
  }

  &__search {
    position: relative;
    padding-top: 16px;
    margin-bottom: 24px;

    &__clear {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
    }

    &.active {
      .shop-app__search__clear {
        display: none;
      }
    }

    .ant-input-affix-wrapper {
      padding: 6px 14px;
      background: #F4F4FB;

      .ant-input {
        background: none;
      }

      .ant-input-prefix {
        margin-right: 27px;

        & > div {
          height: 19px;
        }

        svg {
          width: 19px;
          height: 19px;
        }
      }
    }

    .ant-skeleton.ant-skeleton-element .ant-skeleton-button {
      height: 40px;
    }
  }

  &__basket {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    transform: translateX(100%);
    background: #fff;
    transition: all 0.3s ease;

    &.active {
      visibility: visible;
      transform: translateX(0);
    }

    &__in {
      display: flex;
      flex-direction: column;
      height: 100%;
      padding: 20px 0;
      box-sizing: border-box;
    }

    &__header {
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 16px 5px;

      &__back {
        cursor: pointer;
        padding: 5px 10px;
        font-size: 0;

        svg {
          height: 23px;
          width: 12px;
        }
      }

      &__title {
        font-size: 24px;
        font-weight: bold;
        line-height: 40px;
      }

      &__empty {
        min-width: 33px;
      }

      &__delete {
        cursor: pointer;
        padding: 4px 5px;

        svg {
          height: 23px;
          width: 23px;
        }
      }
    }

    &__products {
      display: flex;
      flex-direction: column;
      gap: 15px;
      flex-grow: 1;
      overflow: auto;
      padding: 20px 16px 20px;

      &__item {
        display: flex;
        padding: 10px;
        box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.08);
        border-radius: 6px;

        &__photo {
          min-width: 70px;
          height: 70px;
          filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.25));
          border-radius: 6px;
          font-size: 0;

          img {
            object-fit: cover;
            width: 70px;
            height: 70px;
            border-radius: 6px;
          }
        }

        &__mid {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin-left: 16px;
          padding: 0 10px 0 0;
        }

        &__name {
          font-weight: 700;
          font-size: 16px;
          line-height: 20px;

          div {
            padding: 3px 0 5px;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
          }
        }

        &__price {
          font-weight: 500;
          font-size: 12px;
          line-height: 15px;
        }

        &__actions {
         margin-left: auto;

          .shop-app__product-form__price {
            height: 100%;
            gap: 0;
            flex-direction: column;
            align-items: flex-end;
            margin: 0;
          }

          .shop-app__amount {
            height: 32px;
            background: none;
            border: 1px solid #7C7C7C;
            font-size: 24px;

            .amount-input {
              font-size: 16px;
            }

            .amount-btn {
              height: auto;
              background: none;
              width: 32px;
              padding: 0 7px;
              line-height: 30px;

              svg {
                color: #E76251;
                width: 15px;
                height: 15px;
              }
            }
          }

          .shop-app__product-form__total-price {
            font-weight: 600;
            font-size: 12px;
            line-height: 15px;
          }
        }
      }

      &__comment {
        padding-top: 17px;

        .ant-input {
          min-height: 100px;
          padding: 16px;
          background: #F2F2F2;
          border-radius: 20px;
          border: none;
          resize: none;
        }
      }
    }

    &__footer {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 10px 16px 0;

      &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;

        &__label {
          flex-grow: 1;
        }

        .shop-app-phone {
          position: relative;
          max-width: 148px;

          &__outer {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            cursor: pointer;
            z-index: 1;
          }

          .custom-input {
            border-color: #ececfe;
            font-size: 16px;
            background: none;
          }

          &.error-field {
            .custom-input {
              border-color: #ff4d4f;
            }
          }
        }

        .shop-app-delivery {
          padding-right: 10px;
        }
      }

      &__button {
        margin-top: 5px;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #fff;
        background: #6662F4;
        border-radius: 16px;
        padding: 14px 10px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        gap: 10px;

        &__price {
          font-weight: 700;
          font-size: 14px;
          line-height: 17px;
        }
      }
    }
  }

  &__payments {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 16px;

    &__item {
      cursor: pointer;
      width: 33.2%;
      margin: 0 0 15px;
      padding: 0 2px;
      box-sizing: border-box;

      &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 104px;
        margin: 0 0 5px;
        padding: 13px 18px;
        box-sizing: border-box;
        border-radius: 16px;
        background: rgba(102, 98, 244, 0.08);

        img {
          max-width: 93px;
          max-height: 79px;
        }
      }

      &__name {
        text-align: center;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
      }
    }
  }
}

.shop-app__news {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  background: #fff;
  z-index: 1;
  padding: 45px 16px;

  &__slider {
    height: 198px;
    margin-bottom: 20px;

    .slick-slide {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 16px;
        max-height: 198px;
      }
    }

    &__skeleton {
      .ant-skeleton.ant-skeleton-element .ant-skeleton-button {
        height: 198px;
      }
    }
  }

  &__cards {
    .ant-skeleton.ant-skeleton-element .ant-skeleton-button {
      height: 150px;
    }
  }

  &__current {
    padding: 20px 0 0;

    &__title {
      font-weight: 700;
      margin-bottom: 16px;
      text-align: center;
      font-size: 17px;
    }

    &__photo {
      margin: 0 0 16px;

      img {
        border-radius: 16px;
        max-width: 100%;
      }
    }

    &__date {
      text-align: right;
      color: #B6B6B6;
      font-size: 12px;
      padding: 0 0 10px;
    }

    &__desc {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 24px 0 0;

    &__item {
      border-radius: 16px;
      padding: 0 0 15px;
      cursor: pointer;
      background: #fff;
      box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.17);

      &__photo {
        border-radius: 16px 16px 0 0;
        overflow: hidden;
        font-size: 0;
        margin-bottom: 15px;

        img {
          object-fit: cover;
          width: 100%;
          height: 150px;
        }
      }

      &__title {
        font-size: 16px;
        font-weight: bold;
        padding: 0 16px 10px;
      }

      &__date {
        font-size: 12px;
        color: #B6B6B6;
        padding: 0 16px;
      }
    }
  }
}

.reverse-icon {
  transform: rotate(273deg);
}