@use "sass:map";

.subTitle {
  margin-bottom: 15px;
}

.detailsContent {
  background: #fff;
  border-radius: 20px;
  padding: 24px;
}


.tabs {
  :global(.ant-tabs-nav) {
    &:before {
      display: none;
    }
  }

  :global(.ant-tabs-tab) {
    background: $bg-secondary;
    padding: 9px 16px;
    border-radius: 16px;
    min-width: 120px;
    justify-content: center;
    font-weight: 600;
    font-size: 16px;
    transition: all 0.3s ease;
    overflow: hidden;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: $bg-primary;
      opacity: 0;
      transition: all 0.3s ease-in-out;
    }

    div {
      position: relative;
    }

    &:hover {
      color: #fff;

      &:before {
        opacity: 1;
      }
    }
  }

  :global(.ant-tabs-tab-active) {
    background: $bg-primary;

    :global(.ant-tabs-tab-btn) {
      color: #fff !important;
    }
  }

  :global(.ant-tabs-tab-btn) {
    transition: none;
  }

  :global(.ant-tabs-ink-bar) {
    display: none;
  }
}

.general {
  position: relative;

  h4 {
    margin: 0 0 16px;
    font-size: 18px;
  }

  :global(.ant-form) {
    max-width: 80%;
  }
}

.generalDescription {
  margin: 0 0 10px;

  h6 {
    font-size: 14px;
    margin: 0 0 8px;
  }

  p {
    line-height: 1.75;

    code {
      color: #e83e8c;
      word-break: break-word;
      cursor: pointer;

      &:hover {
        color: #db116e;
      }
    }
  }
}

.language {
  position: relative;

  :global(.ant-form) {
    max-width: 600px;
  }
}

.delivery {
  position: relative;
  min-height: 400px;

  :global(.ant-form) {
    max-width: 600px;
  }
}

.mapDescription {
  padding: 10px 0 0;
}

.mapItem {
  margin: 0 0 10px;

  :global(.custom-btn) {
    height: 40px;
    font-size: 17px;
    margin-bottom: 2px;
  }
}

.payment {
  position: relative;
  padding: 6px 0 0;
  min-height: 200px;
}

.paymentList {
  display: flex;
  flex-wrap: wrap;
  margin-right: -12px;
  margin-left: -12px;
}

.paymentOuter {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  padding-right: 12px;
  padding-left: 12px;
  margin-bottom: 24px;
  box-sizing: border-box;
}

.paymentItem {
  border: 1px solid $primary;
  background: $bg-secondary;
  padding: 16px;
  border-radius: 16px;
  min-height: 198px;
  box-sizing: border-box;
}

.paymentHead {
  display: flex;
  gap: 16px;
  margin-bottom: 6px;
}

.paymentLogo {
  height: 48px;

  img {
    width: 48px;
    height: auto;
  }
}

.paymentTitle {
  color: #000;
  font-size: 20px;
  font-weight: 500;
}

.paymentForm {
  :global(.custom-input) {
    background: #fff;
    border-color: #fff;
    height: 30px;
  }
}

.paymentFormItem {
  margin-bottom: 6px;

  :global(.ant-form-item) {
    margin: 0;
  }
}

.paymentFormButton {
  margin-top: 12px;

  :global(.custom-btn) {
    height: 32px;
    font-size: 12px;
  }
}

.settings {
  padding-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.settingsToken {
  :global(.custom-form) {
    display: flex;
    justify-content: space-between;
    gap: 77px;
  }

  :global(.ant-form-item) {
    flex-grow: 1;
    margin: 0;
  }

  :global(.custom-input) {
    height: 48px;
  }
}

.settingsReloadBot, .settingsStopBot, .settingsDeleteBot {
  display: flex;
  justify-content: space-between;
}

.settingsRow {
  .settingsRowTitle {
    color: $dark;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 4px;
  }

  .settingsRowText {
    color: $dark;
    font-size: 14px;
    font-weight: 400;
  }
}

@media (max-width: 980px) {
  .general {
    :global(.ant-form) {
      max-width: 100%;
    }
  }

  .paymentOuter {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 768px) {
  .paymentOuter {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .settingsToken {
    padding: 0 0 15px;
    border-bottom: 1px solid #EEEEFF;

    :global(.custom-form) {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 15px;
    }
  }

  .settingsReloadBot, .settingsStopBot, .settingsDeleteBot {
    padding: 0 0 15px;
    border-bottom: 1px solid #EEEEFF;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
  }
}